# Default ignored files
/../../Whatsapp_Analysis /.idea/shelf/
/../../Whatsapp_Analysis /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Whatsapp_Analysis /.idea/httpRequests/
# Datasource local storage ignored files
/../../Whatsapp_Analysis /.idea/dataSources/
/../../Whatsapp_Analysis /.idea/dataSources.local.xml
